<!-- Aula 04 ex 1 -->
<meta charset="UTF-8">

<script>
  var ano = 2018;
  var anos = 2019;
  var idadeFlav = ano - 1977;
  var idadeJoaq = ano - 1996;
  var idadeBarn = anos - 1976;
  var media = (idadeFlav + idadeJoaq + idadeBarn) / 3;
  var nome = "Flavio"
  var puloLinha = "<br>";
  document.write("Flávio tem " + idadeFlav + " anos");
  document.write(puloLinha);
  document.write("Joaquim tem " + idadeJoaq + " anos");
  document.write(puloLinha);

  document.write("Barney tem " + idadeBarn + " anos");
  document.write(puloLinha);

  document.write("A média das idades é: " + Math.round(media));
  document.write(puloLinha);
  document.write("A idade de " + nome + " é " + idadeFlav)
  document.write(puloLinha);
  document.write(puloLinha);
</script>

<!-- Aula 04 ex 2 -->
<meta charset="UTF-8">

<script>
  var ano = 2018;
  var anos = 2019;
  var idadeFlav = ano - 1977;
  var idadeJoaq = ano - 1996;
  var idadeBarn = anos - 1976;
  var media = (idadeFlav + idadeJoaq + idadeBarn) / 3;
  var nome = "Flavio"

  function pulaLinha() {
    document.write("<br>");
  }


  document.write("Flávio tem " + idadeFlav + " anos");
  pulaLinha();
  document.write("Joaquim tem " + idadeJoaq + " anos");
  pulaLinha();

  document.write("Barney tem " + idadeBarn + " anos");
  pulaLinha();

  document.write("A média das idades é: " + Math.round(media));
  pulaLinha();
  document.write("A idade de " + nome + " é " + idadeFlav)
  pulaLinha();
  pulaLinha();
</script>

<!-- Aula 4 ex 5 -->


<meta charset="UTF-8">

<script>
  var ano = 2018;
  var anos = 2019;
  var idadeFlav = ano - 1977;
  var idadeJoaq = ano - 1996;
  var idadeBarn = anos - 1976;
  var media = (idadeFlav + idadeJoaq + idadeBarn) / 3;
  var nome = "Flavio"

  function pulaLinha() {
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }
  mostra("Flávio tem " + idadeFlav + " anos");
  pulaLinha();
  mostra("Joaquim tem " + idadeJoaq + " anos");
  pulaLinha();

  mostra("Barney tem " + idadeBarn + " anos");
  pulaLinha();

  mostra("A média das idades é: " + Math.round(media));
  pulaLinha();
  mostra("A idade de " + nome + " é " + idadeFlav)
  pulaLinha();
</script>


<!-- Aula 4 ex 7 (Código Fornecido)-->
<meta charset="UTF-8">
<script>
  function fazPegadinha() {
    alert("Olá");
    alert("amiga!");
    alert("Tá");
    alert("bastante");
    alert("entediada?");
    alert("Em ficar");
    alert("Clicando em");
    alert("Ok");
    alert("né?");
  }
</script>
<!--(Código Corrigido)-->
<meta charset="UTF-8">
<script>
  function fazPegadinha() {
    alert("Olá");
    alert("amiga!");
    alert("Tá");
    alert("bastante");
    alert("entediada?");
    alert("Em ficar");
    alert("Clicando em");
    alert("Ok");
    alert("né?");
  }
  //  fazPegadinha();
</script>


<!-- Aula 4 ex 8 (Código Fornecido)-->
<meta charset="UTF-8">
<script>
  function pulaLinha() {

    document.write("<br>");
  }

  var titulo = "Bem-vindo ao meu programa!";

  document.write("<h1>" + titulo + "</h1>");

  pulaLinha();
  pulaLinha();

  document.write("Vocês não sabem o que tive que aprender para fazer isso!");

  pulaLinha();
  pulaLinha();

  document.write("Contudo, assistindo os vídeos e estudando ...");

  pulaLinha();
  pulaLinha();

  document.write("Eu vou mais longe!");

  pulaLinha();
  pulaLinha();
</script>
<!-- (Código Corrigido)-->
<meta charset="UTF-8">
<script>
  function pulaLinha() {

    document.write("<br><br>");
  }

  var titulo = "Bem-vindo ao meu programa!";

  document.write("<h1>" + titulo + "</h1>");
  pulaLinha();

  document.write("Vocês não sabem o que tive que aprender para fazer isso!");
  pulaLinha();

  document.write("Contudo, assistindo os vídeos e estudando ...");
  pulaLinha();

  document.write("Eu vou mais longe!");
  pulaLinha();
</script>

<!-- Aula 4 Ex 12 -->
<meta charset="UTF-8">
<script>
  function pulaLinha() {
    document.write("<br><br>");
  }

  function mostra(frase) {
    document.write(frase);
  }

  var minhaIdade = 22;
  var idadeIrmao = 27;

  mostra("Nossa diferença de idade é " + (minhaIdade - idadeIrmao));
  pulaLinha();
</script>

<!-- Aula 4 ex 13 -->
<meta charset="UTF-8">
<script>
  function pulaLinha() {
    document.write("<br><br>");
  }

  function mostra(frase) {
    document.write(frase);
  }

  var anoAtual = 2018;
  var anoColonizado = 1500;
  var geracao = 28;
  mostra("Já estamos na " + ((anoAtual - anoColonizado) / geracao) + "º Geração");
  pulaLinha();
</script>

<!-- Aula 4 ex 14 (mostra_idades2.html) -->
<meta charset="UTF-8">
<script>
  function pulaLinha() {
    document.write("<br><hr><br>");
  }

  function mostra(frase) {
    document.write("<big>" + frase + "</big>");
    pulaLinha();
  }
  mostra("teste");
  </script>
