<!-- Aula 03 ex 1 -->
<meta charset="UTF-8">

<script>
  var ano = 2018;
  document.write("<br>");
  document.write("<br>");
  document.write("Flávio tem " + (ano - 1977) + " anos");
  document.write("<br>");
  document.write("Joaquim tem " + (ano - 1996) + " anos");
  document.write("<br>");

  var ano = 2019;
  document.write("Barney tem " + (ano - 1976) + " anos");
  document.write("<br>");
  document.write("<br>");
</script>



<!-- Aula 03 ex 2 (Código Fornecido) -->
<meta charset="UTF-8">
<script>
  document.write("O resultado da fórmula é : " + n * (10 / 20));
</script>
<!--(Código Resolvido)-->
<meta charset="UTF-8">
<script>
  var n = 3;
  document.write("O resultado da fórmula é : " + n * (10 / 20));
  document.write("<br>");
  document.write("<br>");
</script>



<!-- Aula 03 ex 3 (Código Fornecido) -->
<meta charset="UTF-8">
<script>
  var minhaIdade = 20;
  document.write("Eu nasci em " + (2016 - minhaidade));
</script>
<!--(Código Resolvido)-->
<meta charset="UTF-8">
<script>
  var minhaIdade = 20;
  document.write("Eu nasci em " + (2016 - minhaIdade));
  document.write("<br>");
  document.write("<br>");
</script>



<!-- Aula 03 ex 5 (Código Fornecido) -->
<meta charset="UTF-8">
<script>
  document.write("5 vezes 1 é " + 5 * 1 + "<br>");
  document.write("5 vezes 2 é " + 5 * 2 + "<br>");
  document.write("5 vezes 3 é " + 5 * 3 + "<br>");
  document.write("5 vezes 4 é " + 5 * 4 + "<br>");
  document.write("5 vezes 5 é " + 5 * 5 + "<br>");
  document.write("5 vezes 6 é " + 5 * 6 + "<br>");
  document.write("5 vezes 7 é " + 5 * 7 + "<br>");
  document.write("5 vezes 8 é " + 5 * 8 + "<br>");
  document.write("5 vezes 9 é " + 5 * 9 + "<br>");
  document.write("5 vezes 10 é " + 5 * 10 + "<br>");
  document.write("<br>");
</script>
<!--(Código Resolvido)-->
<meta charset="UTF-8">
<script>
  var tabuada = 8;
  document.write(tabuada + " vezes 1 é " + tabuada * 1 + "<br>");
  document.write(tabuada + " vezes 2 é " + tabuada * 2 + "<br>");
  document.write(tabuada + " vezes 3 é " + tabuada * 3 + "<br>");
  document.write(tabuada + " vezes 4 é " + tabuada * 4 + "<br>");
  document.write(tabuada + " vezes 5 é " + tabuada * 5 + "<br>");
  document.write(tabuada + " vezes 6 é " + tabuada * 6 + "<br>");
  document.write(tabuada + " vezes 7 é " + tabuada * 7 + "<br>");
  document.write(tabuada + " vezes 8 é " + tabuada * 8 + "<br>");
  document.write(tabuada + " vezes 9 é " + tabuada * 9 + "<br>");
  document.write(tabuada + " vezes 10 é " + tabuada * 10 + "<br>");
  document.write("<br>");
  document.write("<br>");
</script>


<!-- Aula 03 ex 6 -->
<meta charset="UTF-8">

<script>
  var ano = 2018;
  var anos = 2019;
  var idadeFlav = ano - 1977;
  var idadeJoaq = ano - 1996;
  var idadeBarn = anos - 1976;
  var media = (idadeFlav + idadeJoaq + idadeBarn) / 3;
  var nome = "Flavio"

  document.write("Flávio tem " + idadeFlav + " anos");
  document.write("<br>");
  document.write("Joaquim tem " + idadeJoaq + " anos");
  document.write("<br>");

  document.write("Barney tem " + idadeBarn + " anos");
  document.write("<br>");

  document.write("A média das idades é: " + Math.round(media));
  document.write("<br>");
  document.write("A idade de " + nome + " é " + idadeFlav)
  document.write("<br>");
  document.write("<br>");
</script>


<!-- Aula 03 ex 8 (Código Fornecido) -->
<meta charset="UTF-8">
<script>
  document.write((12 + 15 + 13) / 3);
  document.write("<br>");
</script>
<!--(Código Resolvido)-->
<meta charset="UTF-8">
<script>
  var idadeLinda = 12;
  var idadeGuaraciara = 15;
  var idadePerola = 13;

  document.write((idadeLinda + idadeGuaraciara + idadePerola) / 3);
  document.write("<br>");
  document.write("<br>");
</script>


<!-- Aula 03 ex 9 (Código Fornecido) -->
<meta charset="UTF-8">
<script>
  var idadeLinda = 12;
  var idadeGuaraciara = 15;
  var idadePerola = 13;

  document.write((idadeLinda + idadeGuaraciara + idadePerola) / 3);
  document.write("<br>");
</script>
<!--(Código Resolvido)-->
<meta charset="UTF-8">
<script>
  var idadeLinda = 12;
  var idadeGuaraciara = 15;
  var idadePerola = 13;
  var totalIdades = idadeLinda + idadeGuaraciara + idadePerola;

  document.write(totalIdades / 3);
  document.write("<br>");
  document.write("<br>");
</script>


<!-- Aula 03 ex 12 (calcula_consumo.html) -->
<meta charset="UTF-8">
<h3>Álcool ou Gasolina?</h3>

<script>
  var tanque = 40;
  var caminhoComgas = 480;
  var consumoGas = caminhoComgas / tanque;
  var caminhoComalc = 300;
  var consumoAlc = caminhoComalc / tanque;
  document.write("Gasto com Gasolina: " + consumoGas + " km/l" + "<br>Gasto com Alcool: " + consumoAlc + " km/l");
</script>
