<!-- Aula 8 ex 1 e 5 -->
<meta charset="utf-8">

<input type="text">
<button type="button" name="button">Meu Segredo</button>

<script>
	function pulaLinha() {
		document.write("<br><br>");
	}

	function espaco() {
		document.write(" ");
	}

	function mostra(frase) {
		document.write(frase);
		espaco();
	}

	var input = document.querySelector("input");
	var button = document.querySelector("button");
	var segredo = Math.round(Math.random() * 10);


	function verifica() {
		if (input.value == segredo) {
			alert("acertou");
		} else {
			alert("errou");
		}

		input.value = "";
		input.focus();
	}

button.onclick = verifica;
</script>
