<!-- Aula 6 ex 1 (futebol.html) -->
<meta charset="utf-8">

<script>
  function pulaLinha() {
    document.write("<br>");
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  var vitorias = parseInt(prompt("Entre com o numero de vitórias "));
  var empates = parseInt(prompt("Entre com o numero de empates"));

  var pontos = (vitorias * 3) + empates;
mostra(pontos);

</script>


<!-- Aula 6 ex 5 (futebol.html) -->
<meta charset="utf-8">

<script>
  function pulaLinha() {
    document.write("<br>");
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  var vitorias = parseInt(prompt("Entre com o numero de vitórias "));
  var empates = parseInt(prompt("Entre com o numero de empates"));

  var pontos = (vitorias * 3) + empates;
mostra(pontos);

if (pontos > 28){
  mostra("seu time está melhor que o ano anterior");
}else if (pontos < 28) {
  mostra("seu time está pior que o ano anterior");
}else if (pontos == 28){
  mostra("seu time está igual ao ano anterior");
}
</script>

<!-- Aula 6 ex 7(imc.html) -->
<meta charset="utf-8">

<script>
  var frase;

  function pulaLinha() {
    document.write("<br>");
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  function calcImc(peso, altura) {
    var imc = parseFloat((peso / (altura * altura)).toFixed(1));
    frase = "O seu imc é " + imc;
    mostra(frase);

    if (imc < 18.5) {
      frase = "Você está abaixo do peso";
      mostra(frase);
    } else if (imc < 24.9) {
      frase = "Você está no peso ideal";
      mostra(frase);
    } else if (imc < 29.9) {
      frase = "Você está Levemente acima do peso";
      mostra(frase);
    } else if (imc < 34.9) {
      frase = "Você está Obesidade grau 1";
      mostra(frase);
    } else if (imc < 39.9) {
      frase = "Você está Obesidade grau 2";
      mostra(frase);
    } else {
      frase = "Você está Obesidade grau 3";
      mostra(frase);
    }
  }

  calcImc(80, 1.80);
</script> 


<!-- Aula 6 ex 9 (jogo_adivinha.html) -->
<meta charset="utf-8">

<script>
  var frase;

  function pulaLinha() {
    document.write("<br>");
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }
  
  
  var numeroPensado = Math.round(Math.random() * 10);
  var chute = parseInt(prompt("Digite seu chute!"));
  
  if(chute==numeroPensado){
	mostra("Voce acertou");
  }else {
	mostra("voce errou o numero pensado é " + numeroPensado);
  }
  
  </script>
  
  <!-- Aula 6 ex 11 (Código Fornecido)-->
  <meta charset="UTF-8">

<script>

    function pulaLinha() {
        document.write("<br>");
		pulaLinha();
    }

    function mostra(frase) {
        document.write(frase);
    }

    var quantidadeCarbono1 = parseInt(prompt("Quantidade de carbono elemento 1"));
    var quantidadeCarbono2 = parseInt(prompt("Quantidade de carbono elemento 2"));

    quantidadeCarbono2 = quantidadeCarbono2 + 2;

    if(quantidadeCarbono1 = quantidadeCarbono2 ) {

        mostra("Acho que são elementos parecidos");
    } else {

        mostra("São elementos bem diferentes");
    }

</script>
<!-- (Código Corrigido) -->
<meta charset="UTF-8">

<script>

    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
		pulaLinha();
    }

    var quantidadeCarbono1 = parseInt(prompt("Quantidade de carbono elemento 1"));
    var quantidadeCarbono2 = parseInt(prompt("Quantidade de carbono elemento 2"));

    quantidadeCarbono2 = quantidadeCarbono2 + 2;

    if(quantidadeCarbono1 == quantidadeCarbono2 ) {

        mostra("Acho que são elementos parecidos");
    } else {

        mostra("São elementos bem diferentes");
    }

</script>


  <!-- Aula 6 ex 12-->
  <meta charset="UTF-8">

<script>
    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    var idade = parseInt(prompt("Qual é sua idade"));
    var temCarteira = prompt("Tem carteira? Responda S ou N");

	if(idade >= 18 && temCarteira =="S"){
		mostra("Você pode dirigir");
	}else{
		mostra("Nem entra no carro");
	}
</script>
  
  
<!-- Aula 6 ex 13-->
  <meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    function sorteia(n) {

        return Math.round(Math.random() * n);
    }    

    var numeroPensado = sorteia(10);


     var chute = parseInt(prompt("Já pensei. Qual você acha que é?"));

    if(chute == numeroPensado) {

        mostra("Uau! Você acertou, pois eu pensei no " + numeroPensado);
    } else if(chute > numeroPensado) {

            mostra("Você errou! Seu chute é maior que o número pensado!");

        } else {

            mostra("Você errou! Seu chute é menor que o número pensado!");
        }

    
</script>