<!-- Aula 1 ex 14 -->
<meta charset="utf-8">
A convenção que usaremos para criar nosso programa é adotar letras minúsculas e não usar acentos e, claro, usar a extensão .html.
<br>
Outro ponto importante é que toda alteração feita no arquivo .html deve ser salva e, além disso, o navegador precisa recarregar a página para que a última alteração do arquivo entre em vigor.



<!-- Código Fornecido
Aula 1 ex 21
-->
<!-- <meta charset="UTF-8">
<script>
    alert("Isso");
    alert("é");
    alert("um");
    alert("programa);
    alert("sim");
</script>  -->



<!-- Código Corrigido! -->
<meta charset="UTF-8">
<script>
    alert("Isso");
    alert("é");
    alert("um");
    alert("programa");
    alert("sim");
</script>



<!-- Código Fornecido
Aula 1 ex 23          -->
<!-- <meta charset="UTF-8">

<script>
</script>

alert("Olá, este é meu primeiro programa!");
alert("Gostaram?"); -->



<!-- Código Corrigido! -->
<meta charset="UTF-8">

<script>
alert("Olá, este é meu primeiro programa!");
alert("Gostaram?");
</script>


<!-- Aula 1 ex 24 -->


<!-- Código Fornecido -->
<!--
<meta charset="UTF-8">

alert("Este é um popup feito com JavaScript");
<script>
    <h1>Primeiro programa</h1>
</script>
 -->

 <!-- Código Corrigido -->
 <meta charset="UTF-8">

    <h1>Primeiro programa</h1>
 <script>
  alert("Este é um popup feito com JavaScript");
 </script>
