<!-- Aula 2 ex 1 -->
<meta charset="utf-8">

<script>
  alert("...texto aqui...");
</script>

<!-- Aula 2 ex 4 -->
<meta charset="utf-8">

<script>
  document.write("A idade do Flávio é");
  document.write("<br>");
  document.write(18);
</script>


<!-- Aula 2 ex 6 -->
<meta charset="utf-8">

<script>
  document.write("Flávio nasceu em" + (2016 - 39));
  document.write("<br>");
  document.write("Joaquim nasceu em" + (2016 - 20));
  document.write("<br>");
  document.write("Barney nasceu em" + (2016 - 40));
  document.write("<br>");
  document.write(18);
  document.write("<br>");
  document.write(18 + 20);
  document.write("<br>");
  document.write(100 - 20);
  document.write("<br>");
  document.write("18" + "20");
  document.write("<br>");
  document.write("18" + 20);
  document.write("<br>");
  document.write((20 + 30 + 60) / 3);
  document.write("<br>");
  document.write("texto texto " + (20 + 30 + 60) / 3);
  document.write("<br>");
  document.write("<br>");
  document.write("<br>");
  document.write("Exercicios Extras");
</script>


<!-- Aula 2 ex 7 (entendendo_dois_mundo.html) -->
<meta charset="UTF-8">

<script>
  document.write("<br>");
  document.write("<br>");
  document.write("Estou escrevendo do mundo JavaScript no mundo HTML");
</script>

<!-- Aula 2 ex 8 (calculando_meu_gasto.html) -->
<meta charset="UTF-8">

<script>
  document.write("<br>");
  document.write("<br>");
  document.write((200 + 100 + 300 + 400) / 4);
</script>

<!-- Aula 2 ex 12 (prova.html) -->
<meta charset="UTF-8">

<script>
  document.write("<br>");
  document.write("<br>");
  document.write("Eu acertei: ");
  document.write(((15 / 50) * 100) + "%");
  document.write("<br>");
  document.write("Eu acertei: " + ((15 / 50) * 100) + "%");
  document.write("<br>");
  document.write("Eu acertei: " + 15 / 50 * 100 + "%");
</script>

<!-- Aula 2 ex 14 (Código fornecido) -->
<meta charset="UTF-8">

<script>
  document.write("<br>");
  document.write("<br>");
  document.write("Flávio nasceu em " + (2016 - 39));
  document.write("<br>");
  document.write("Joaquim nasceu em " + (2016 - 20));
  document.write("<br>");
  document.write("Barney nasceu em " + (2016 - 40));
  document.write("<br>");
</script>
<!--(Código corrigido) -->
<meta charset="UTF-8">

<script>
  document.write("Flávio nasceu em " + (2016 - 39) + "<br>");
  document.write("Joaquim nasceu em " + (2016 - 20) + "<br>");
  document.write("Barney nasceu em " + (2016 - 40));
</script>
