<!-- Aula 5 ex 1 (imc.html) -->

<meta charset="utf-8">

<script>
  var frase;

  function pulaLinha() {
    document.write("<br>");
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  function calcImc(peso, altura) {
    var imc = Math.round(peso / (altura * altura));
    frase = "O seu imc é " + imc;
    mostra(frase);

    if (imc < 18.5) {
      frase = "Você está abaixo do peso";
      mostra(frase);
    } else if (imc < 24.9) {
      frase = "Você está no peso ideal";
      mostra(frase);
    } else if (imc < 29.9) {
      frase = "Você está Levemente acima do peso";
      mostra(frase);
    } else if (imc < 34.9) {
      frase = "Você está Obesidade grau 1";
      mostra(frase);
    } else if (imc < 39.9) {
      frase = "Você está Obesidade grau 2";
      mostra(frase);
    } else {
      frase = "Você está Obesidade grau 3";
      mostra(frase);
    }
  }

  calcImc(140, 1.71);
</script>


<!-- Aula 5 ex 2 (imc.html) -->
<meta charset="utf-8">

<script>
  function pulaLinha() {
    document.write("<br>");
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  function calculaImc(altura, peso) {

    var imc = peso / (altura * altura);
    return imc;

  }

  var imcFlavio = calculaImc(1.71, 73);
  var imcAmigo = calculaImc(1.72, 68);

  mostra(imcFlavio);
  mostra(imcAmigo);
</script>


<!-- Aula 5 ex 8 (imc.html) (Código Fornecido)-->
<meta charset="UTF-8">
<script>
  function pulaLinha() {
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  function calculaImc(altura, peso) {

    var imc = peso / (altura * altura);
  }

  var imcCalculado = calculaImc(1.77, 75);
  mostra("O meu IMC é : " + imcCalculado);
</script>
<!--  (Código Corrigido)-->
<meta charset="UTF-8">
<script>
  function pulaLinha() {
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  function calculaImc(altura, peso) {

    return peso / (altura * altura);
  }

  var imcCalculado = calculaImc(1.77, 75);
  mostra("O meu IMC é : " + imcCalculado);
</script>


<!-- Aula 5 ex 11 (imc.html com prompt)-->
<meta charset="UTF-8">
<script>
  function pulaLinha() {
    document.write("<br>");
  }

  function mostra(frase) {
    document.write(frase);
    pulaLinha();
  }

  function calculaImc(altura, peso) {

    var imc = peso / (altura * altura);
    return imc;
  }
  var nome = prompt("Qual o seu nome?");
  var alturaInformada = prompt("Qual a sua altura?");
  var pesoInformado = prompt("Qual seu peso?");
  var imcCalculado = calculaImc(alturaInformada, pesoInformado);
  mostra(nome + " o seu IMC é : " + imcCalculado);
</script>
