<!-- Aula 7 ex 1 -->
<meta charset="utf-8">

<script>

	function pulaLinha(){
		document.write("<br><br>");
	}
	
	function espaco(){
		document.write(" ");
	}
	
	function mostra(frase){
		document.write(frase);
		espaco();
	}
	
	var anoCopa = 1930;
	var limite =  parseInt(prompt("entre com a data limite"));
	while(anoCopa <= limite){
		mostra("Teve copa em " + anoCopa);
		anoCopa = anoCopa + 4;
		}
	
	mostra("FIM");
	pulaLinha();
	
</script>

<!-- Aula 7 ex 3 -->
<meta charset="utf-8">

<script>
	
	function pulaLinha(){
		document.write("<br><br>");
	}
	
	function espaco(){
		document.write(" ");
	}
	
	function mostra(frase){
		document.write(frase);
		espaco();
	}
	var contador = 0;
	
	while(contador < 100){
		contador = contador + 2;
		mostra(contador);
	}
	
	mostra("FIM");
	pulaLinha();
	
</script>

<!-- Aula 7 ex 4 -->
<meta charset="utf-8">
<script>
    function pulaLinha() {
        document.write("<br><br>");
    }
	
	function espaco(){
		document.write(" ");
	}
	
	function mostra(frase) {
        document.write(frase);
        espaco();
    }

    var contador = 30;

    while(contador <= 40) {

        if( contador != 33 && contador != 37) {
                mostra(contador);
        }

        contador = contador + 1; 
    }

    mostra("FIM");
	pulaLinha();
</script>

<!-- Aula 7 ex 5 -->
<meta charset="utf-8">

<script>
	
	function pulaLinha(){
		document.write("<br><br>");
	}
	
	function espaco(){
		document.write(" ");
	}
	
	function mostra(frase){
		document.write(frase);
		espaco();
	}
	var contador = 20;
	
	while(contador >= 0){
		mostra(contador);
		contador--;
	}
	
	mostra("FIM");
	pulaLinha();
	
</script>


<!-- Aula 7 ex 6 (Código Corrigido) -->
<meta charset="utf-8">

<script>

    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    var anoCopa = 1930;
    var limite = parseInt(prompt("Qual é o ano limite?"));

    while(anoCopa <= limite) {
	
        mostra(anoCopa + " tem copa!");
		anoCopa = anoCopa + 4;
    }

    mostra("Ufa! Esses foram os anos de copa até " + limite);
	pulaLinha();
</script>

<!-- Aula 7 ex 7 (Código Fornecido)  -->
<meta charset="utf-8">
<script>

    var loginCadastrado = "alura";
    var senhaCadastrada = "alura321";
	
	function pulaLinha(){
		document.write("<br><br>");
	}

    var loginInformado = prompt("Informe seu login");
    var senhaInformada = prompt("Informe sua senha");

    if( loginCadastrado == loginInformado && senhaCadastrada == senhaInformada ) {

        alert("Bem-vindo ao sistema " + loginInformado);
    } else {

        alert("Login inválido. Tente novamente");
    }
	pulaLinha();
</script> 
<!-- Aula 7 ex 7 (Código Corrigido) -->
<meta charset="utf-8">

<script>
	
    var loginCadastrado = "aaa";
    var senhaCadastrada = "aaa";
	
	var tentativa = 1;
	var maxTentativa = 3;
		
	function pulaLinha(){
		document.write("<br><br>");
	}
	
	function espaco(){
		document.write(" ");
	}
	
	function mostra(frase){
		document.write(frase);
		espaco();
	}
	while(tentativa <= maxTentativa){
		
		var loginInformado = prompt("Informe seu login");
		var senhaInformada = prompt("Informe sua senha");
	
		if(loginCadastrado == loginInformado && senhaCadastrada == senhaInformada){
			
			mostra("foi");
			tentativa = maxTentativa;
		
		}
		else{
			alert("não foi");
		}
		tentativa++;
	}
</script>

<!-- Aula 7 ex 9 (tabuada.hmtl) -->
<meta charset="utf-8">
<script>
	
    var multiplicador;
	
	function pulaLinha(){
		document.write("<br>");
	}

	function mostra(frase){
		document.write(frase);
		pulaLinha();
	}
	var tabuada = parseInt(prompt("Digite a tabuada desejada:"));
	
	for(i = 0; i <= 10; i++){
		
		mostra(tabuada + "*" + i +" = " + (tabuada*i));
		
	}	
	</script>
	
<!-- Aula 7 ex 11 (Código Corrigido) -->
<meta charset="utf-8">
<script>
	var i = 0;
	
	while( i < 10) {
	
		alert( "O resultado é " + (2 * i) );
		i++;
	
	}
</script>


<!-- Aula 7 ex 12 -->
<meta charset="utf-8">
<script>
	
	function pulaLinha(){
		document.write("<br>");
	}

	function mostra(frase){
		document.write(frase);
		pulaLinha();
	}
	
	var totalFamiliares = parseInt(prompt("Quantidade de familiares"));
	var totalIdades = 0;
	
	for(i = 1; i <= totalFamiliares; i++){
		var idade = parseInt(prompt("idade do " + i +" Familiar"));
		totalIdades = totalIdades + idade;
	}
	var media = totalIdades / totalFamiliares;
	mostra("A media das idades é " + media);
</script>

<!-- Aula 7 ex 13 (Código Fornecido) -->
<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    var totalDeEventos = parseInt(prompt("Informe o total de eventos"));

    var contador = 1;

    while(contador <= totalDeEventos) {

        var totalGastoComEventos = 0;
        var gasto = parseFloat(prompt("Informe total gasto com evento"));
        totalGastoComEventos = totalGastoComEventos + gasto;
        contador++;
    }

    var media = totalGastoComEventos / totalDeEventos;

    mostra("A média de gastos é " + media);
</script>
<!-- Aula 7 ex 13 (Código Corrigido) -->
<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

    var totalDeEventos = parseInt(prompt("Informe o total de eventos"));

    var contador = 1;

    var totalGastoComEventos = 0;

    while(contador <= totalDeEventos) {

        var gasto = parseFloat(prompt("Informe total gasto com evento"));

        totalGastoComEventos = totalGastoComEventos + gasto;

        contador++;
    }

    var media = totalGastoComEventos / totalDeEventos;

    mostra("A média de gastos é " + media);
</script>


<!-- Aula 7 ex 14 (Código Corrigido) -->
<meta charset="UTF-8">
<script>
var contador = 1;

while(contador <= 3) {

    alert("Deixe-me entrar!");
    contador++;
}
</script>


<!-- Aula 7 ex 15 -->
<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }

	var numeroPensado = Math.round(Math.randon() * 10);
	var tentativas = 3;
	for(i = 1; i <= tentativas; i++){
		var chute = parseInt(prompt("Digite seu chute"));
	
		if(chute == numeroPensado){

			mostra("voce acertou");
			i = tentativas;
		}else if (i != tentativas){
			
			mostra("Errooooou: O numero correto era " + numeroPensado);
			
		}else{
			mostra("Errou");
		}
	}
</script>


<!-- Aula 7 ex 17 (estrelas.html) -->
<meta charset="UTF-8">
<script>

    function pulaLinha() {

        document.write("<br>");
    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();
    }
	
	for(i = 0; i < 3; i++){
	
		for(j = 0; j < 10; j++){
		
			document.write("*");
			
		}
		
		pulaLinha();
		
	}
	
</script>