<!-- Aula 9 ex 1 -->
<meta charset="UTF-8">

    <input/>
    <button> Compare com o meu segredo </button>

 <script>

    var segredos = [5, 7, 10, 2, 3];

	var input = document.querySelector("input");
	input.focus();

	function verifica() {

		var achou = false;

		for (var posicao = 0; posicao < segredos.length; posicao++) {

			if (input.value == segredos[posicao]) {

				alert("Você ACERTOU!");
				achou = true;
				break;
			}
		}

		if (achou == false) {

			alert("Você ERROU!");
		}

		input.value = "";
		input.focus();

	}

	var button = document.querySelector("button");

	button.onclick = verifica;

</script>

<!-- Aula 9 ex 5 CORRIGIDO-->
var parcelas = [10.40, 40.00, 100.18, 200];
for(var i = 0; i < parcelas.length; i = i + 1) {
    document.write(parcelas[i]);
}
document.write("FIM");

<!-- Aula 9 ex 6 CORRIGIDO-->
for( var i = 0; i < jogadores.length; i++) {

    alert(jogadores[i]);
}

<!-- Aula 9 ex 7 CORRIGIDO-->
var letras = ['A', 'B', 'C', 'D'];

for( var i = 0; i < letras.length; i ++) {
    alert(letras[i]);
}

<!-- Aula 9 ex 8 -->
<meta charset="UTF-8">

<input/>
<button>Compare com o meu segredo</button>

<script>
    function sorteia() {

       return Math.round(Math.random() * 10);

    }

    function sorteiaNumeros(quantidade) {

        var segredos = [];

        var numero = 1;

        while(numero <= quantidade) {

              var numeroAleatorio = sorteia();
              var achou = false;

              if (numeroAleatorio !== 0) {
                     for(var posicao = 0; posicao < segredos.length; posicao++) {

                           if(segredos[posicao] == numeroAleatorio){
                                achou = true;
                                break;
                           }

                     }

                     if (achou == false) {
                           segredos.push(numeroAleatorio);
                           numero++;
                     }
              }

        }

        return segredos;

    }

    var segredos = sorteiaNumeros(3);

    console.log(segredos);

    var input = document.querySelector("input");
    input.focus();

    function verifica() {

       var achou = false;

       for(var posicao = 0; posicao < segredos.length; posicao++) {

              if(input.value == segredos[posicao]) {

                     alert("Você ACERTOU!");
                     achou = true;
                     break;
              } 
       }

       if(achou == false) {

              alert("Você ERROU!");
       }

       input.value = "";
       input.focus();

    }

    var button = document.querySelector("button");

    button.onclick = verifica;

</script>

<!-- Aula 9 ex 10 CORRIGIDO-- -->
<meta charset="UTF-8">

<h1>Receitas do Yan</h1>

<script>
    var ingredientes = [];

    var quantidade = parseInt(prompt("Quantos ingredientes você vai adicionar?"));

    var contador = 1;

    while( contador <= quantidade) {

        var ingrediente = prompt("Informe o ingrediente " + contador);

        var existe = false;

        for( var posicao = 0; posicao < ingredientes.length; posicao++) {

            if( ingredientes[posicao] == ingrediente) {

                existe = true;
                break;
            }
        }

        if( existe == false) {

            ingredientes.push(ingrediente);
            contador++;
        }
    }

    console.log(ingredientes);
</script>

