<!-- Aula 02 ex 8 -->

<canvas width="600" height="400"></canvas>

<script>

    var tela = document.querySelector('canvas');
    var pincel = tela.getContext('2d');

    function desenhaEsquadro(xa, ya, xc, yc, cor) {
        pincel.fillStyle=cor;
        pincel.beginPath();
        pincel.moveTo(xa, ya); // Ponto A
        pincel.lineTo(xa, yc); //Ponto B. Aqui temos que deixar o X do B igual ao do A.
        pincel.lineTo(xc, yc); //Ponto C
        pincel.fill();
    }

    desenhaEsquadro(50, 50, 400, 400, 'black');
    desenhaEsquadro(100, 175, 275, 350, 'white');

</script>