<!-- Aula 02 ex 1 -->
<canvas width="600" height="400">

<script>


	var tela = document.querySelector('canvas');
	var pincel = tela.getContext('2d');
	
	pincel.fillStyle = 'green';
	pincel.fillRect(0,0,50,50);
	pincel.fillStroke = "black";
	pincel.strokeRect(0,0,50,50);
	
	pincel.fillRect(50,0,50,50);
	pincel.strokeRect(50,0,50,50);
	pincel.fillRect(100,0,50,50);
	pincel.strokeRect(100,0,50,50);


</script>

<!-- Aula 02 ex 3 -->
<canvas width="600" height="400"></canvas>

<script>

    function desenhaQuadrado(x, y, cor) {

        var tela = document.querySelector('canvas');
        var pincel = tela.getContext('2d');

        pincel.fillStyle = cor;
        pincel.fillRect(x, y, 50, 50);
        pincel.fillStroke = 'black';
        pincel.strokeRect(x, y, 50, 50);

}

desenhaQuadrado(0, 0, 'green');
desenhaQuadrado(50, 0, 'green');
desenhaQuadrado(100, 0, 'green');

</script>

<!-- Aula 02 ex 4 -->

<canvas width="600" height="400"></canvas>

<script>

    function desenhaQuadrado(x, y, cor) {

        var tela = document.querySelector('canvas');
        var pincel = tela.getContext('2d');

        pincel.fillStyle = cor;
        pincel.fillRect(x, y, 50, 50);
        pincel.fillStroke = 'black';
        pincel.strokeRect(x, y, 50, 50);

}

    for(var x = 0; x < 600; x = x + 50) {
    desenhaQuadrado(x, 0, 'green');
    }

</script>